# katalog konfiguracji pycharm
.idea/
# baza danych
db.sqlite3
# wirtualne środowisko
venv/
# katalog z tymczasowymi danymi pythona
__pycache__
# zmienne środowiskowe
.env
# informacje na temat zaplanowanych tasków celery
celerybeat-schedule
# media
media/
# static
static/
#logging
logs/