{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Reset hasła' %}
</div>
{% endblock %}

{% block content %}

{% if validlink %}

<p>{% translate "Wprowadź swoje nowe hasło dwukrotnie, abyśmy mogli zweryfikować, czy wpisałeś je poprawnie." %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% translate 'Nowe hasło:' %}</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{% translate 'Powtórz hasło:' %}</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="{% translate 'Zmień hasło' %}">
</fieldset>
</form>

{% else %}

<p>{% translate "Link do resetowania hasła był nieprawidłowy, prawdopodobnie dlatego, że został już użyty. Poproś o zresetowanie nowego hasła." %}</p>

{% endif %}

{% endblock %}
