{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Reset hasła' %}
</div>
{% endblock %}

{% block content %}

<p>{% translate 'Wysłaliśmy Ci instrukcje dotyczące ustawienia hasła, jeśli istnieje konto z wprowadzonym adresem e-mail. Powinieneś je wkrótce otrzymać.' %}</p>

<p>{% translate 'Jeśli nie otrzymasz wiadomości e-mail, upewnij się, że wpisałeś adres, pod którym się zarejestrowałeś, i sprawdź folder ze spamem.' %}</p>

{% endblock %}
