{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Reset hasła' %}
</div>
{% endblock %}

{% block content %}

<p>{% translate 'Zapomniałeś hasła? Wpisz swój adres e-mail poniżej, a wyślemy Ci instrukcje dotyczące ustawienia nowego.' %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">{% translate 'Adres email:' %}</label>
        {{ form.email }}
    </div>
    <input type="submit" value="{% translate 'Resetuj hasło' %}">
</fieldset>
</form>

{% endblock %}
