{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}

{% translate "Proszę wejdz na link i wybierz nowe hasło:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Twoja nazwa użytkownika, jeśli zapomniałeś:' %} {{ user.get_username }}

{% translate "Dziękujemy za korzystanie z naszej biblioteki!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}
